.movieListItem {
  border-radius: 5px;
  overflow: hidden;
}

.movieListItem img {
  width: 100%;
}

.movieListItem img:hover {
  outline: 4px solid #fff;
  outline-offset: -4px;
}

.movieListItemMeta {
  display: flex;
  gap: 10px;
}
