# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project.
# For more information, visit https://editorconfig.org

root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# For Markdown and JSON files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# For YAML files
[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

# For CSS, SCSS, and LESS files
[*.css]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2

# For JavaScript and TypeScript files
[*.js]
indent_style = space
indent_size = 2

[*.jsx]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.tsx]
indent_style = space
indent_size = 2
