.sidebar {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: lightgray;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
    width: 250px;
  }
}
